:root {
    --md-primary-fg-color:        #84c2ea;
    --md-primary-fg-color--light: #84c2ea;
    --md-primary-fg-color--dark:  #84c2ea;
  }

.info-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info-block-img {
    max-height: 8vh !important;
    width: auto;
    height: auto;
    margin-top: 10px;
}

.md-typeset .md-button.register-btn {
    background-color: #1976d2;
    border-color: #1976d2;
    color: #fff;
}

.md-typeset .md-button.register-btn:hover,
.md-typeset .md-button.register-btn:focus {
    background-color: #1565c0;
    border-color: #1565c0;
    color: #fff;
}
